@charset "UFT-8";
@import "variables", "mixin", "reset", "main", "contents";

body {
  width: 100vw;
  padding: 0 200px;
  position: relative;
  background-color: #f6f5ef;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

#header {
  width: 100%;
  height: 60px;
  padding: 20px 0;
  position: relative;
  z-index: 10000;
  #gnb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: $defult;
      font-weight: 700;
    }
    .gnb_left {
      display: flex;
      align-items: center;
      img {
        width: 60px;
      }
      a {
        margin-right: 88px;
      }
    }
    .gnb_right {
      img {
        width: 14px;
      }
      a {
        margin-left: 140px;
      }
    }
  }
}
